/* Navbar */

body{
  margin: 0px;
  background-color: #FFFFF7; 
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-image: linear-gradient(260deg, #FFF0CA 0%, #EFBCC1 100%);
  margin: 0px;

}

li {
  float: left;
  padding-right: 28px;

}

li a {
  display: block;
  color: #504F4F;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-size: 18px;
  padding: 16px;
  -webkit-transition: transform .5s ease;
  -moz-transition: transform .5s ease;
  -o-transition: transform .5s ease;
  transition: transform .5s ease;
}

li a:hover {
  transform: translateY(-4px);
}

/* Content */
p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 26px;
  color: #504F4F;
  margin-left: 50px;
  margin-top: 15%;
  position: absolute;
  left:50%;
  margin-left: -20%  
}

.chick{
  width: 15%;
  margin-top: 18%;
  position: absolute;
  left:50%;
  margin-left: -6%;

}
